
.container {
	max-width: 1024px;
	margin: 30px auto;
	box-shadow: 8px 2px 16px rgba(0, 0, 0, 0.3);
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #877977;
}

.header {
	font-family: 'Open Sans', sans-serif;
	background-color: #e3cfce;
	border-top: 100px solid #c8b3b2;
}

.header-top {
	padding: 0 80px 40px;
}

.header-bottom {
	padding: 20px 80px;
	background-color: #dcc8c8;
}

h1 {
	font-weight: 300;
	color: #1e1313;
	margin-bottom: 10px;
}

h2 {
	margin: 0;
	color: #aa9697;
	font-size: 1.1rem;
}

h2 span {
	display: inline-block;
	padding: 5px 20px;
}

.header h2 span {
	background-color: #e1e1e3;
}

.intro-info {
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
	max-width: calc(100% - 350px);
}

.cv-photo {
	object-fit: cover;
	border-radius: 50%;
	border: 6px solid #fff;
	max-width: 280px;
	vertical-align: middle;
}

.top-overflow {
	margin-top: -30px;
}

.info {
	display: inline-block;
	min-width: calc(30% - 20px);
	margin-right: 10px;
	margin-left: 10px;
}

.main {
	padding: 40px 80px;
	background-color: rgb(222, 222, 224, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.flex-item {
	width: 50%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.main h2 {
	letter-spacing: 2px;
	border-bottom: 1px solid #e1e1e3;
}

.main h2 span {
	background-color: #d9c5c4;
}

.main p {
	line-height: 1.5;
}

.skills {
	padding: 0 30px 0 0;
}

section {
	margin-bottom: 30px;
}

.skills-list {
	padding-left: 10px;
}

.skills-item {
	margin: 0 0 10px 10px;
}



