
.container {
	max-width: 1024px;
	margin: 30px auto;

	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	color: #877977;

	box-shadow: 8px 2px 16px rgba(0, 0, 0, 0.3);
}

.page-margin {
	padding: 20px 80px;
}

.header {
	font-family: "Open Sans", sans-serif;

	background-color: #e3cfce;
	border-top: 100px solid #c8b3b2;
}

.header-top {
	padding: 0 80px 40px;
}

.header-bottom {
	background-color: #dcc8c8;
}

h1 {
	margin-bottom: 10px;

	font-weight: 300;
	color: #1e1313;
}

h2 {
	margin: 0;
	font-size: 1.1rem;
	color: #aa9697;
}

h2 span {
	display: inline-block;
	padding: 5px 20px;
}

.header h2 span {
	background-color: #e1e1e3;
}

.intro-info {
	display: inline-block;
	max-width: calc(100% - 350px);
	vertical-align: middle;
	margin-left: 50px;
}

.cv-photo {
	max-width: 280px;
	vertical-align: middle;

	border-radius: 50%;
	border: 6px solid #fff;

	object-fit: cover;
}

.top-overflow {
	margin-top: -30px;
}

.info {
	display: inline-block;
	min-width: calc(30% - 20px);
	margin-right: 10px;
	margin-left: 10px;
}

.info b {
	margin-right: 10px;
}

.main {
	display: flex;
	padding-top: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  background-color: rgb(222, 222, 224, 0.2);
}

.flex-item {
	width: 50%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.main h2 {
	margin-bottom: 15px;
	letter-spacing: 2px;
	border-bottom: 2px solid #e1e1e3;
}

.main h2 span {
	background-color: #d9c5c4;
}

.main p {
	line-height: 1.5;
}

a {
	color: #877977;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.contact-info h2 {
	margin-bottom: 10px;
}

.skills {
	padding: 0 60px 0 0;
}

section {
	margin-bottom: 30px;
}

.skills-list {
	padding-left: 10px;
}

.skills-item {
	margin: 0 0 10px 10px;
}

.footer {
	position: relative;
	color: #807271;
	background-color: #c8b3b2;
	overflow: hidden;
}

.footer:after {
	content: '';
	position: absolute;
	right: -140px;
	bottom: -80px;

	display: block;
	width: 200px;
	height: 200px;

	background-color: #dcc8c8;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

	transform: rotate(45deg);
}
